.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: block;
}

.overlay .slider-image-wrapper {
    display: inline-block;
    height: 100%;
}

.overlay .board {
    display: block;
    position: absolute;
    height: 100%;
    transition: all 0.3s linear;
}

.overlay .slider-image {
    border: 10px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
}

.overlay .btn {
    position: fixed;
    top: 50%;
    z-index: 1;
    margin: 25px;
    background-image: url(../../../sprite.png);
    height: 70px;
    width: 45px;
    background-color: transparent;
    margin-top: -35px;
}

.overlay .btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.overlay .close-button {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    right: 25px;
    top: 25px;
    font-size: 16px;
    background-image: url(../../../sprite.png);
    background-position: -346px -182px;
}

.overlay .btn:first-of-type {
    left: 0;
    background-position: -90px -190px;
}

.overlay .btn:last-of-type {
    right: 0;
    background-position: -15px -190px;
}

.slider-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.slider-nav .nav-indicator {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 50%;
}

.slider-nav .nav-indicator.active {
    background-color: white;
}